body {
    font-family: Arial, sans-serif;
    color: #2B2B2B;
    background-color: #DEDEDE;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    display: grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;
    min-height: 100svh;
}


.header {
    background-color: #333;
    color: #FFF;
    padding: 10px;
}

.header__logo {
    font-size: 7px;
    font-weight: bold;
}

.header__nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.nav__item {
    font-size: 20px;
}

.nav__link {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.nav__link-active {
    border-bottom: 1px solid #9c9c9c;
    color: #9c9c9c;
}


.main {
    padding: 0 20px 20px 20px;
}

.main__intro {
    text-align: center;
    margin-bottom: 40px;
}

.main__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.main__text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
}

.footer__address,
.footer__quote {
    margin-top: 30px;
}

.footer__email {
    color: #FFD700;
    text-decoration: underline;
}

.footer__load-time {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 900px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }
}